<h3><%= hardness.name %>

<%= link_to edit_hardness_path(hardness) do %>
	<i class="fas fa-cog"></i>
<% end %>

<%= link_to hardness_path(hardness), method: :delete, remote: true do %>
	<i class="fas fa-trash-alt"></i>
<% end %>

</h3>