<% if skins.present? %>
<div class="container-fluid" id="skins">
    <div  class="row" id="filterrific_results">
        <%= render @skins %>
    </div>
</div>


  <%= will_paginate skins %>


<% else %>
<div class="text-center" style="width: 100%; margin-top: 20px;">
    <%= image_tag('nothing.svg', width: '300px') %>
</div>
<% end %>